"*":
  "autocomplete-plus":
    autoActivationDelay: 700
    enableAutoActivation: false
  core:
    telemetryConsent: "limited"
    themes: [
      "isotope-ui"
      "oceanic-next"
    ]
  editor:
    lineHeight: 1.4
    scrollPastEnd: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "6362772c-d105-4e1f-b292-93774e8f063a"
  fonts:
    fontFamily: "Anonymous Pro"
  welcome:
    showOnStartup: false
